{% extends "base.html" %}
{% load i18n %}
{% block title %}Мои турниры{% endblock %}
{% block content %}
<h2 class="mb-3">Мои турниры</h2>
<a href="{% url 'tour_create' %}" class="btn btn-success mb-3">Создать турнир</a>

{% if tournaments %}
  <table class="table table-striped">
    <thead><tr><th>Название</th><th>Игра</th><th>Сетка</th><th>Статус</th><th></th></tr></thead>
    <tbody>
      {% for t in tournaments %}
        <tr>
          <td><a href="{% url 'tour_detail' t.id %}">{{ t.title }}</a></td>
          <td>{{ t.game.title }}</td>
          <td>{{ t.get_bracket_type_display }}</td>
          <td>
            {% if t.status == 'draft' %}
              <span class="badge badge-secondary">
                {{ t.get_status_display|default:"ERROR" }}
              </span>
            {% elif t.status == 'registration' %}
              <span class="badge badge-warning">
                {{ t.get_status_display|default:"ERROR" }}
              </span>
            {% elif t.status == 'ongoing' %}
              <span class="badge badge-primary">
                {{ t.get_status_display|default:"ERROR" }}
              </span>
            {% elif t.status == 'finished' %}
              <span class="badge badge-success">
                {{ t.get_status_display|default:"ERROR" }}
              </span>
            {% endif %}
          </td>
          <td><a href="{% url 'tour_edit' t.id %}" class="btn btn-sm btn-outline-primary">Редакт.</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Пока нет турниров.</p>
{% endif %}
{% endblock %}
