{% load static %}
{% load widget_tweaks %}
{% load i18n %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}UniPlay{% endblock %}</title>
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" />
</head>
<body class="bg-light">
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand text-white ms-3" href="/">UniPlay</a>
  {% if user.is_authenticated %}
    {% if user.role == 'manager' %}
      <a class="nav-link text-white" href="{% url 'manager_tournaments' %}">Турниры</a>
      <a class="nav-link text-white" href="{% url 'manager_teams' %}">Команды</a>
      <a class="nav-link text-white" href="{% url 'manager_matches' %}">Матчи</a>
      <a class="nav-link text-white" href="{% url 'profile' %}">Личный кабинет</a>
    {% elif user.role == 'moderator' %}
      <a class="nav-link text-white" href="{% url 'mod_tournaments' %}">Турниры</a>
    {% elif user.role == 'referee' %}
    <!---->
    {% elif user.role == 'player' %}
    <!---->
    {% elif user.role == 'admin' %}
      <a class="nav-link text-white" href="/admin/">Django Admin</a>
    {% endif %}

    {# ————— форма переключения языка ————— #}
    <form action="{% url 'set_language' %}" method="post"
          class="d-inline-block ms-3 me-auto">
      {% csrf_token %}
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      <select name="language"
              class="form-select form-select-sm bg-dark text-white border-0 language-select"
              onchange="this.form.submit()">
        {% for code, name in LANGUAGES %}
          <option value="{{ code }}"
                  {% if code == LANGUAGE_CODE %}selected{% endif %}>
            {{ name }}
          </option>
        {% endfor %}
      </select>
    </form>
    {# ———————————————————————————— #}

    <span class="navbar-text ml-auto mr-3 text-white">Вы: {{ user.username }}</span>
    <a class="btn btn-outline-light" href="{% url 'logout' %}">Выйти</a>
  {% endif %}

</nav>
{% if messages %}
  <div class="container mt-3">
    {% for m in messages %}
      <div class="alert alert-{{ m.tags }} alert-dismissible fade show" role="alert" id="message_box">
        {{ m }}
        <button type="button" class="close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="container py-4">{% block content %}{% endblock %}</div>
<!-- <script src="{% static 'htmx.min.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script>
  var message_tag = document.getElementById("message_box");

  setTimeout(function(){
    message_tag.style.display = "none";
  }, 3000);
</script>
</body>
</html>
